<head>
  <title>File Uploader</title>
</head>
<body>
edit max file size <input type="text" #fileSize value="50">
<button (click)="editMaxSize($event, fileSize, fileSelector)">submit</button>
<br/>
<form id="upload_form" >
  <input #fileSelector type="file" (change)="validateFile($event, fileSelector)"><br>
  <div *ngIf="showBtn">
    <button (click)="uploadFile($event, fileSelector)">Upload</button>
  </div>
  <div *ngIf="showUpload">
    <h2>uploaded: {{progress}}%</h2>
  </div>
  <div *ngIf="showErr">
    <h2>{{errMsg}}</h2>
  </div>
</form>
</body>
